* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

header {
  background-color: var(--bg-cards);
}

header nav a {
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link0{
  transition: 0.25s ease;
}
.nav-link1{
  transition: 0.25s ease;
}
.nav-link0:hover{
  color: var(--bg-techs);
}
.nav-link1:hover{
  color: var(--bg-techs);
}

body {
  background: var(--body-bg-color) no-repeat top center/cover;
  width: 1440px;
  height: 1767px;
}

body * {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
}

/*bloco 1*/

#container0 {
  width: 348px;
  height: 292px;
  flex-shrink: 0;
  margin: 40px;

  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#profile {
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#p2 {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#profile img {
  width: 127.5px;
  height: 128px;
  flex-shrink: 0;
  margin: 32px;
}

/*bloco 2*/

#container1 {
  width: 348px;
  height: 370px; /*370px*/
  flex-shrink: 0;

  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

#local {
  margin-left: 40px;
  padding-top: 30px;
}
#loc {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: -25px auto auto 40px;
}

#work {
  margin-left: 40px;
  margin-top: 20px;
}
#trampo {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: -22px auto auto 40px;
}

#github {
  margin-left: 40px;
  margin-top: 20px;
}

ul{
  list-style: none;
}
#account {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  display: flex;
  text-decoration: none;

  margin: -22px auto auto 80px;
  transition: 0.25s ease;
}
#account:hover {
  color: var(--bg-techs);
}

#in {
  margin-left: 40px;
  margin-top: 20px;
}
#inAccount {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  position: absolute;
  display: flex;
  text-decoration: none;

  margin: -23px auto auto 80px;
  transition: 0.25s ease;
}
#inAccount:hover {
  color: var(--bg-techs);
}

#twitterX {
  margin-left: 40px;
  margin-top: 20px;
}
#twAccount {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  display: flex;
  text-decoration: none;

  margin: -25px auto auto 80px;
  transition: 0.25s ease;
}
#twAccount:hover {
  color: var(--bg-techs);
}

#site {
  margin-left: 40px;
  margin-top: 20px;
}
#website {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  display: flex;
  text-decoration: none;

  margin: -25px auto auto 40px;
  transition: 0.25s ease;
}
#website:hover {
  color: var(--bg-techs);
}

#mail {
  margin-left: 40px;
  margin-top: 20px;
}
#mailAccount {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: -25px auto auto 40px;
}

/*Bloco 3*/

#container2 {
  width: 348px;
  height: 208px;
  flex-shrink: 0;

  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

#Tecnologias {
  width: 121px;
  height: 26px;
  flex-shrink: 0;
  margin-left: 20px;
  padding-top: 30px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#HTML {
  text-align: center;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  background: var(--bg-techs);
  margin: 30px;
  margin-top: 50px;
  color: black;
}

#CSS {
  text-align: center;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  background: var(--bg-techs);
  margin: 30px;
  margin-top: -15px;
  color: black;
}

#python {
  text-align: center;
  width: 86px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--bg-techs);
  color: black;

  margin: -132px auto auto auto;
}

#C {
  text-align: center;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  background: var(--bg-techs);
  margin: 15px auto auto auto;
  color: black;
}

#github2 {
  text-align: center;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  background: var(--bg-techs);
  margin: -101.85px auto auto 230px;
  color: black;
}

#zero {
  text-align: center;
  width: 86px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--bg-techs);
  color: black;

  margin: 15px auto auto 230px;
}

/*Bloco 5*/

#container4 {
  width: 348px;
  height: 352px;
  flex-shrink: 0;
  margin: 40px;

  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#edu {
  width: 141px;
  height: 26px;
  margin: 20px;
  padding-top: 30px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#multivix {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 40px auto auto 40px;
}

#data {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: auto auto auto 40px;
}

#Rocketseat {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px auto auto 40px;
}

/*Projetos*/

#container5 {
  width: 952px;
  height: 86px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

  margin: -1382px 40px 30px 448px;
}

#projects{
  width: 121px;
  height: 26px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;

  margin: 30px auto auto 30px;
}

#sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  text-decoration: none;

  margin: 34px auto auto 851px;
}
#sm:hover {
  text-decoration: underline;
}

/*P1*/
#container6 {
  width: 461px;
  height: 186px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
  position: absolute;

  margin: 5px auto auto 448px;
}

/*P2*/
#container7 {
  width: 461px;
  height: 186px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
  position: absolute;

  margin: 5px auto auto 939px;
}

/*Sobre mim*/
#container8 {
  width: 952px;
  height: 186px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
  position: absolute;

  margin: 224px auto auto 448px ;
}

#aboutMe {
  width: 140px;
  height: 26px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;

  margin: 30px auto auto 30px;
}

#text {

  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  margin: 64px 30px auto 40px;
  text-align: justify;
}

/*XP*/

#container3 {
  width: 952px;
  height: 776px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

  margin: 478px auto auto 448px;
}

#container3 ul {
  list-style-type: disc;
}

#xp {
  width: 141px;
  height: 26px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 30px;
  padding-top: 30px;
}

#EscCont {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin: 40px;
}

#relato {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align:justify;

  margin: 8px 30px auto 65px;
}

#time {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;

  margin: 8px 30px auto 65px;
}

#cargo {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: -35px auto auto 65px;
}

footer {
  margin-top: 40px;
  text-align: center;
}