* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

header {
  background-color: var(--bg-cards);
}

header nav a{
  text-decoration: none;
}

header nav ul{
  list-style: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link0{
  transition: 0.25s ease;
}
.nav-link1{
  transition: 0.25s ease;
}
.nav-link0:hover{
  color: var(--bg-techs);
}
.nav-link1:hover{
  color: var(--bg-techs);
}

body {
  background: var(--body-bg-color) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
}

/* NÃO FUNCIONAL */

.container1p {
  width: 548px;
  height: 348px;

  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

  margin: 100px 0 0 100px;
  animation: MoveUp 0.85s ease;
}

@keyframes MoveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container1p h1{

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 30px 0 0 30px;
}


.container1p ul li a {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  position: absolute;
  display: flex;
  text-decoration: none;
  
  margin: -20px auto auto 450px;
  transition: 0.25s;
}
.container1p ul li a:hover {
  color: var(--bg-techs);
}
.container1p ul {
  list-style: none;
}

.container2p {
  width: 548px;
  height: 348px;
  
  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
  
  margin: -348px 0 0 800px;
  animation: MoveUp 0.85s ease;
}

.container2p h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  padding: 30px 0 0 30px;
}

.container2p ul li a {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  position: absolute;
  display: flex;
  text-decoration: none;
  
  margin: -20px auto auto 450px;
  transition: 0.25s;
}
.container2p ul li a:hover {
  color: var(--bg-techs);
}
.container2p ul {
  list-style: none;
}

.container3p {
  width: 548px;
  height: 348px;
  
  border-radius: 20px;
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
  
  margin: 75px 0 0 100px;
  animation: MoveUp 0.85s ease;
}

.container3p h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  padding: 30px 0 0 30px;
}

footer {
  margin-top: 30px;
  text-align: center;
}